{% load static %}

<!DOCTYPE html>

<html>
<head>
	<title>{% block title %}ShareNBuy{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS Da Pagina Index -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</head>

<body>

	<!-- Menu -->
	<header>
		<!-- Logo -->
		<a class="logo" href=""><img src="{% static 'images/logo.png' %}" alt=""></a>

		<!-- Links -->
		<div class="links">
			<nav>
				<ul>
					<li><a href="{% url 'sobre' %}">Sobre</a></li>
					<li><a href="{% url 'planos' %}">Planos</a></li>
					<li><a href="{% url 'suporte' %}">Suporte</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Conteudo -->
	<main>
		<div class="container">
			<!-- Titulo -->
			<h2>Painel de Acesso</h2>

			<!-- Paineis -->
			<div class="paineis">

				<!-- Afiliado -->
				<div class="painel_afiliado">
					<a href="">
						<img src="{% static 'images/afiliados.png' %}" />
					</a>
				</div>

				<!-- Produtor -->
				<div class="painel_produtor">
					<a href="">
						<img src="{% static 'images/produtor.png' %}" />
					</a>
				</div>
			</div>
			
			<div class="opacity"></div>
		</div>
		<!-- Login -->
		<div class="container-login">
			<form action="" method="">
				<!-- Titulo -->
				<h2>Sou Afiliado</h2>
				<span>Nome:</span>
				<input type="text" name="">
				<span>Email:</span>
			</form>	
		</div>
	</main>

	<!-- Footer -->
	<footer>
		<ul>
			<li>ShareBuySell |</li>
			<li>Todos os direitos reservados. 2019 |</li>
			<li>Sistema desenvolvido por</li>
			<li><img src="{% static 'images/logo-momentum.png' %}" alt="">.</li>
		</ul>
	</footer>
	
	<script src="{% static 'bower_componets/bootstrap-sass/assets/bootstrap.min.js' %}"></script>
</body>
</html>
